<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Register | Code Snippet Manager</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/register.css}">
</head>

<body>

<div class="floating-circles">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
</div>


<div class="container d-flex justify-content-center align-items-center min-vh-100 position-relative" style="z-index: 1;">
    <div class="col-md-5">
        <div class="card login-card">
            <h1 class="login-title">Reset Password Form</h1>

            <form id="registerForm" th:action="@{/resetpassword}" th:object="${userForm}" method="post">
                <input type="text" class="form-control" id="id" th:field="*{token}" hidden>
                <!-- Email -->
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" th:field="*{email}" required>
                    <div class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                </div>

                <!-- Password -->
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Create a password" th:field="*{password}" required>
                    <div class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                </div>

                <!-- Submit -->
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Change Password</button>
                </div>
            </form>

            <!-- Login Link -->
            <div class="message text-center">
                <p>Already have an account? <a th:href="@{/login}" class="forgot-link">Login</a></p>
            </div>
        </div>
    </div>
</div>






<!-- Bootstrap Bundle -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

<script th:src="@{/js/register.js}"></script>

</body>
</html>
